<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hyun.mapper.BoardMapper">

	<select id="getList" resultType="me.hyun.model.Board">
		select * from board_tbl limit #{pageStart}, #{perPageNum};
	</select>
	
	<select id="totalCount" resultType="Integer">
		select count(*) from board_tbl
	</select>
	
	<select id="get" resultType="me.hyun.model.Board">
		select * from board_tbl where bno = #{bno}
	</select>
		
	<insert id="insert">
		insert into board_tbl(title, content, writer) value (#{title}, #{content}, #{writer});
	</insert>
	
	<update id="update">
		update board_tbl set
		title = #{title},
		content = #{content},
		updateDate = now()
		where id = #{bno}
	</update>
	
	<delete id="delete">
		delete from board_tbl where bno=#{bno}
	</delete>
	
	
</mapper>